body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.chef{
  width: 100px;
  height: 100px;
}
.categoria{
  margin-bottom: 30px;
}
.itemCatego{
  border-bottom:1px solid #515A5A;
  margin-bottom: 5px;
  border-style: outset;
}
